#AQUI SE CONFIGURAN LOS CONTENEDORES
services:
  database:
    image: mysql:8
    container_name: adj-database
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: adj-demo
    ports:
      - "3307:3306"
    networks:
      - adj-net
    volumes:
      - adj-volume:/var/lib/mysql
  
  frontend:
    image: cliente:v1.0
    build: 
      context: ./client
      args:
        API_HOST: localhost
        API_PORT: 8080
        API_BASE: /adj-api
    container_name: adj-client
    ports:
      - "3000:80"
    networks:
      - adj-net
    depends_on:
      - database

  backend:
    image: server:1.0
    build: 
      context: ./server
    container_name: adj-server
    environment:
      SERVER_PORT: 8080
      DB_HOST: database
      DB_PORT: 3306
      DB_NAME: adj-demo
      DB_USER: root
      DB_PASS: root
    ports:
      - "8080:8080"
    networks:
      - adj-net
    depends_on:
      - frontend

#Aqui se configuran las redes donde se comunican los contenedores
networks:
  adj-net:
    external: true


#Aqui se configuran los volumenes que ocupan los contenedores

volumes:
  adj-volume:
    external: true